# Data Mining
#### - Logistic Regression
#### - Decision Tree
#### - KNN
#### - Random Forest

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [3]:
df = pd.read_excel('F:\\Projects\\Data Mining\\data mining.xlsx', index_col=0)

In [4]:
df.head()

,age,sex,marital status,Hep-B,Hep-C,Prev. hosp.,Depression,anxiety,hygiene,HIV
patient number,,,,,,,,,,
1,39,1,1,1,0,1,1,0,84,0
2,41,1,1,0,0,0,1,0,72,0
3,34,1,1,0,0,0,0,1,55,1
4,19,1,1,1,1,0,1,1,80,0
5,35,1,0,1,0,0,1,1,79,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 1 to 500
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             500 non-null    int64
 1   sex             500 non-null    int64
 2   marital status  500 non-null    int64
 3   Hep-B           500 non-null    int64
 4   Hep-C           500 non-null    int64
 5   Prev. hosp.     500 non-null    int64
 6   Depression      500 non-null    int64
 7   anxiety         500 non-null    int64
 8   hygiene         500 non-null    int64
 9   HIV             500 non-null    int64
dtypes: int64(10)
memory usage: 43.0 KB

In [6]:
df.describe()

,age,sex,marital status,Hep-B,Hep-C,Prev. hosp.,Depression,anxiety,hygiene,HIV
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.0000,500.000000
mean,34.366000,0.500000,0.484000,0.460000,0.496000,0.516000,0.536000,0.456000,55.4020,0.600000
std,9.274053,0.500501,0.500244,0.498897,0.500485,0.500244,0.499202,0.498559,25.5065,0.490389
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.0000,0.000000
25%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.0000,0.000000
50%,35.000000,0.500000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,55.5000,1.000000
75%,42.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,77.0000,1.000000
max,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.0000,1.000000

In [7]:
x = df[['age','sex','marital status','Hep-B','Hep-C','Prev. hosp.','Depression','anxiety','hygiene']]
y = df['HIV']

In [8]:
x.head()

,age,sex,marital status,Hep-B,Hep-C,Prev. hosp.,Depression,anxiety,hygiene
patient number,,,,,,,,,
1,39,1,1,1,0,1,1,0,84
2,41,1,1,0,0,0,1,0,72
3,34,1,1,0,0,0,0,1,55
4,19,1,1,1,1,0,1,1,80
5,35,1,0,1,0,0,1,1,79

In [9]:
y.head()

patient number
1    0
2    0
3    1
4    0
5    0
Name: HIV, dtype: int64

# Train Test Split

In [10]:
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.4, random_state=101)

In [11]:
len(X_train)

300

# Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
predictions = lr.predict(X_test)

### Evaluation

In [18]:
print(lr.score(X_test,y_test))

0.98

In [15]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.99      0.96      0.97        77
           1       0.98      0.99      0.98       123

    accuracy                           0.98       200
   macro avg       0.98      0.98      0.98       200
weighted avg       0.98      0.98      0.98       200

# Decision Tree

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

### Predictions and Evaluations

In [26]:
pred = dtree.predict(X_test)

In [27]:
df_eval=pd.DataFrame({'Label': y_test,'Predicrions':pred})
df_eval

                Label  Predicrions
patient number
362                 1            1
74                  1            1
375                 1            1
156                 0            0
105                 0            0
...               ...          ...
111                 0            0
319                 0            0
429                 1            1
30                  0            0
438                 0            0

[165 rows x 2 columns]

### Evaluation

In [28]:
print(dtree.score(X_test,y_test))

0.9818181818181818

In [29]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.98        65
           1       0.98      0.99      0.99       100

    accuracy                           0.98       165
   macro avg       0.98      0.98      0.98       165
weighted avg       0.98      0.98      0.98       165

# KNN

### Standardize the Variables

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('HIV',axis=1))
scaled_features = scaler.transform(df.drop('HIV',axis=1))
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat

,age,sex,marital status,Hep-B,Hep-C,Prev. hosp.,Depression,anxiety,hygiene
0,0.500174,1.0,1.032529,1.083473,-0.992032,0.968496,0.930415,-0.915552,1.122327
1,0.716046,1.0,1.032529,-0.922958,-0.992032,-1.032529,0.930415,-0.915552,0.651388
2,-0.039504,1.0,1.032529,-0.922958,-0.992032,-1.032529,-1.074789,1.092237,-0.015776
3,-1.658540,1.0,1.032529,1.083473,1.008032,-1.032529,0.930415,1.092237,0.965347
4,0.068431,1.0,-0.968496,1.083473,-0.992032,-1.032529,0.930415,1.092237,0.926102
...,...,...,...,...,...,...,...,...,...
495,-0.039504,1.0,-0.968496,1.083473,-0.992032,-1.032529,-1.074789,-0.915552,-0.055021
496,-0.255376,1.0,-0.968496,1.083473,-0.992032,0.968496,-1.074789,1.092237,-1.585575
497,-1.658540,1.0,-0.968496,-0.922958,-0.992032,-1.032529,0.930415,-0.915552,-1.781800
498,0.068431,-1.0,1.032529,-0.922958,-0.992032,-1.032529,0.930415,1.092237,-0.918410
499,-0.147440,-1.0,1.032529,1.083473,1.008032,-1.032529,0.930415,1.092237,0.690633

### Train Test Split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df_feat, df['HIV'], test_size=0.33, random_state=42)

### Using KNN

In [21]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [22]:
pred = knn.predict(X_test)

### Evalution

In [23]:
print(knn.score(X_test,y_test))

0.8484848484848485

In [24]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.75      0.92      0.83        65
           1       0.94      0.80      0.86       100

    accuracy                           0.85       165
   macro avg       0.85      0.86      0.85       165
weighted avg       0.87      0.85      0.85       165

# Random forest

In [30]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [31]:
rfc_pred = rfc.predict(X_test)
df_eval=pd.DataFrame({'Label': y_test,'Predicrions':rfc_pred})
df_eval

                Label  Predicrions
patient number
362                 1            1
74                  1            1
375                 1            1
156                 0            0
105                 0            0
...               ...          ...
111                 0            0
319                 0            0
429                 1            1
30                  0            0
438                 0            0

[165 rows x 2 columns]

### Evaluation

In [32]:
print(rfc.score(X_test,y_test))

1.0

In [33]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        65
           1       1.00      1.00      1.00       100

    accuracy                           1.00       165
   macro avg       1.00      1.00      1.00       165
weighted avg       1.00      1.00      1.00       165